.footer{
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding-top: 4rem;
   width: 100%;
   background: #FFFFFF;
}
.footer-section{
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    padding-left: 2rem;
    width: 40%;
    flex-direction: column;
    gap: 5px;

}
.footer-section1{
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 20%;
    flex-direction: column;
    gap: 12px;

}
.foot-hed{
    font-weight: 700;
font-size: 24px;
color: #000000;
}
.footer-section1 span{
    font-weight: 400;
    font-size: 14px;
    color: #9A9EA6;
}
.footer-section span{
    font-weight: 400;
    font-size: 14px;
    color: #9A9EA6;
}
.bottam{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 2rem;
    color: #9A9EA6;
}